Pillow
accelerate>=0.31.0
compel==0.1.8
datasets
filelock
flax>=0.4.1
hf-doc-builder>=0.3.0
huggingface-hub>=0.27.0
requests-mock==1.10.0
importlib_metadata
invisible-watermark>=0.2.0
isort>=5.5.4
jax>=0.4.1
jaxlib>=0.4.1
Jinja2
k-diffusion>=0.0.12
torchsde
note_seq
librosa
numpy
parameterized
peft>=0.6.0
protobuf>=3.20.3,<4
pytest
pytest-timeout
pytest-xdist
python>=3.8.0
ruff==0.9.10
safetensors>=0.3.1
sentencepiece>=0.1.91,!=0.1.92
GitPython<3.1.19
scipy
onnx
optimum_quanto>=0.2.6
gguf>=0.10.0
torchao>=0.7.0
bitsandbytes>=0.43.3
regex!=2019.12.17
requests
tensorboard
tiktoken>=0.7.0
torch>=1.4
torchvision
transformers>=4.41.2
urllib3<=2.0.0
black
phonemizer
opencv-python
ftfy